[Unit]
Description=Etcd OCI Container

[Service]
Type=simple
EnvironmentFile=-/etc/default/%p
WorkingDirectory=/opt/runc-etcd/oci
ExecStartPre=/bin/sh -c "/opt/runc-etcd/bin/runc delete -f runc-etcd || true"
ExecStart=/opt/runc-etcd/bin/runc run --pid-file=/run/runc-etcd.pid runc-etcd
ExecStopPost=/opt/runc-etcd/bin/runc delete -f runc-etcd
PIDFile=/run/runc-etcd.pid
Restart=always
RestartSec=5
RestartPreventExitStatus=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
