[Unit]
Description=Portworx Etcd OCI Container
Documentation=https://docs.portworx.com/runc
Before=portworx.service
 
[Service]
Type=simple
EnvironmentFile=-/etc/default/%p
WorkingDirectory=/opt/pwx-etcd/oci
ExecStartPre=/bin/sh -c "/opt/pwx-etcd/bin/runc delete -f portworx-etcd || true"
ExecStart=/opt/pwx-etcd/bin/runc run --pid-file=/run/pwx-etcd.pid portworx-etcd
ExecStopPost=/opt/pwx-etcd/bin/runc delete -f portworx-etcd
PIDFile=/run/pwx-etcd.pid
Restart=always
RestartSec=5
RestartPreventExitStatus=10
KillMode=mixed
[Install]
WantedBy=multi-user.target
